{% extends 'share_layout/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans '发送系统通知' %}{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans '发送系统通知' %}</h3>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">
                                {{ field.label }}
                                {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                            </label>
                            <div class="col-sm-9">
                                {{ field }}
                                {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                                {% endif %}
                                {% for error in field.errors %}
                                <span class="help-block text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">{% trans '发送通知' %}</button>
                                <a href="{% url 'notifications:list' %}" class="btn btn-default">{% trans '取消' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_style %}
<style>
.radio-inline {
    margin-right: 20px;
}
select[multiple] {
    height: 200px;
}
</style>
{% endblock %}